<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ittx.netapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MerchantActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".PictureActivity" />
        <activity android:name=".MusicActivity" />
        <activity android:name=".VideoActivity" />
        <activity android:name=".ArgumentActivity" />

        <service android:name=".service.MyService" />

        <activity android:name=".service.MainServiceActivity" />

        <service
            android:name=".service.DownLoadService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.DownLoadIntentService"
            android:exported="false" />

        <activity android:name=".mp3.MP3Activity"/>
        <activity android:name=".mp3.MusicCursorListActivity"/>
        <activity android:name=".mp3.MusicListActivity"/>
        <activity android:name=".mp3.TwoMusicListActivity"/>
    </application>

</manifest>
